*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: x-large;
}
nav{

  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: #a6f6ff;
  /* font-size: xxx-large; */
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size:3rem;
  padding:40px;
}

 nav img{
  width: 100px;
  /* mix blend will hide backgound of image */
  mix-blend-mode: multiply;
  padding: 0 20px;
}

.container{
  border:2px solid black;
  font-weight: bold;
  width: 50vw;
  margin: auto;
  /* padding-top: 15px; */
  /* background-color: skyblue; */

}